
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-weight: bold;
  font-size:16px;
}

.content {
  background: #e3f4ff;
  font-size:16px;
}

.button-container {
  background: #e3f4ff;
  font-size:16px;
  margin: 16px;

}

button {
  background: white;
  border: 1px solid #eee;
  font-size:16px;

}
